<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RDoList Verification Code.</title>
</head>
<body>
    <h1>Your verification code for RDoList is: {{ code }}</h1>
    <p><b>Note: </b>This code will be valid for next 1 hour. You can use this code to confirm your email and reset your account password.</p>
</body>
</html>