<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To RDoList</title>
</head>
<body>
    <h1>Thanks for creating a RDoList account.</h1>
    <p>We are glad to see your account at RDoList. Use RDoList to manage your project and personal notes with great ease.</p>
</body>
</html>